<nav class=" navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand">E-Commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item cursor-pointer nav-btn me-2" >
            <a class="nav-link active cursor-pointer" aria-current="page" routerLink="home" routerLinkActive="nav-btn-active text-white" >
              <i class="fa-solid fa-house me-1"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="nav-item cursor-pointer nav-btn me-2">
            <a class="nav-link" routerLink="cart" routerLinkActive="nav-btn-active text-white">
              <i class="fa-solid fa-cart-shopping me-1"></i>
              <span>Cart</span>
            </a>
          </li>
          <li class="nav-item cursor-pointer me-2 nav-btn">
            <a class="nav-link active cursor-pointer " aria-current="page" routerLink="login" routerLinkActive="nav-btn-active text-white">
              <i class="fa-solid fa-right-to-bracket me-1"></i>
              <span>Login</span>
            </a>
          </li>
          <li class="nav-item cursor-pointer nav-btn me-2">
            <a class="nav-link" routerLink="register" routerLinkActive="nav-btn-active text-white">
              <i class="fa-solid fa-user-plus me-1"></i>
              <span>Register</span>
            </a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>